body{
    background-color: #f8f8f8;
}

.for-slide{
    width: 142%;
    margin-left: -125px;
    height: 512px;
}

.trip-card{
    width: 107% !important;
    height: 510px !important;
    border-radius: 1px !important;
    margin-left: 78px !important;
  

  
}
.mydiv{
    margin: -20px 18px 17px 82px;

}
.imdiv {
    margin: 9px 4px 2px 39px;
}
.for-p{
    margin: 1px 4px -3px -62px;
}
.maclass{
    margin-top: 10px;
}
.ma-4{
    margin-top: -8px;


}

.transfer{
    margin: 6px -11px 10px -80px;
}
.doucu-img{
    margin: 10px 10px 10px 126px;

}
.car-marg{
    margin-top: 60px ;
}
.luggage{
    margin-top: 33px;
}
.turrsm{
    margin-top: 9px;
}
.laggae-btn{
    margin-top: 45px;
    width: 29%;
    margin-left: 129px;
    height: 44px;
    font-size: 24px;
}  
.title-for{
    margin: 108px 10px 10px -9px;
 
    

}
.tit-body{
    font-size: 55px;
    color: white !important;
}
.p-for{
    font-weight: 400 !important;
    font-size: 19px;
    color: white;
}
.home-form{
    width: 72%;
}
.home-radiu{
    border-radius: 1px !important;
 

}
.bdn-fae{
    width: 38% !important;
    font-size: 20px !important;
}
.for-contaiicon{
    height: 575px;
    width: 100%;
    margin-top: 4px;


}
.destinato{
    margin-top: -10px;
}
.dis-korea{
    width: 100%;
    height: 220px;
    background-color: gray;
}
.korea1{
    text-align: center;
    margin-top: 48px;

}
.b-korea{
    margin-top: -11px;
}
.korea1 h5{
    font-size: 55px;
    margin: 16px;
    font-weight: 100;
    color: dodgerblue;
}
.korea1 p{
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;

}
.qoute{
    margin-top: 97px;
    margin-left: 163px;
    margin-right: 145px;
    font-size: 53px;
}
.qoute22{
    font-size: 18px;
}
.events1{
    margin-top: 124px;

}

