body{
  margin: 0%;
  padding: 0%;
}

.border{
    box-shadow: 3px 0px 5px -1px;
  }
  .text{
    margin: -5px 17px 18px 0px;
    text-align: -webkit-auto;
    padding: 0px 15px 0px 773px;

  }
  .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .btn2{
    cursor: pointer;
    padding: 5px;
    width: 76px;
  }
.cont1{
    text-align: center;
    margin-bottom: 67px;
    margin-top: 44px;
}
.cont1 p{
    font-weight: 500;
}
.cont1 h1{
    font-size: 52px;
        margin: -8px;
        font-weight: 100;
        color: dodgerblue;
}

.width{
    width: 49%;
    height:  347px;
    box-shadow: 1px 6px 12px -3px gray;
}
  .bg3{
  
    padding: 0px 7px 0px 6px;
    margin: 0px 70px 0px -110px;
    background-color: indigo;
    border-radius: 4px;
    font-weight: 600;
  }
  .gold{
      width: 59%;
      text-align: left;
      height: 50px;
      margin: 54px 0px 0px 34px;
  }
  .gold h3{
      margin-left: -11px;
  }
  .gold p1{
    box-sizing: border-box;
    border-bottom: 1px solid gray;
  }
 
  .placeholder{
    display: inline-block;
    min-height: 2em;
    box-shadow: 2px 5px 3px -5px gray;
    vertical-align: middle;
    cursor: wait;
    background-color: currentcolor;
    opacity: 0.5;
    margin: 128px 11px 3px 17px;
    border-radius: 12px;
    width: 87%;
    height: 1px;
   

  }
  .placeholder text{
    color: black;
  }
  .but-styling{
    cursor: pointer;
    margin: 1px 0px -30px -278px;
    width: 37%;
    height: 31px;
    padding: 1px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(20, 20, 247);
    font-weight: 300;

  }
  .page-styling p1{
    color: black;
    margin: -11px 0px 0px -27px;
    position: absolute;
    font-size: 21px;
    font-weight: bold;
  }
  .footer{
    margin: 85px 0px 0px 0px;
    
  }
  .footer2 p1{
 color: white;
 font-weight: 500;

  }
  .footer2 p2{
    color: #3B71CA;
    font-size: 15px;
    font-weight: 600;
  }
  .footer3{
    background-color: #454141;
  }
  .footer4 {
    color: bl;
    border: 1px solid rgb(177, 158, 158);
    width: 39%;
    text-align: center;
    margin: 2px;

  }
  .footer-text{
    background-color: #4242d3;;
    text-align: center;
    color: white
  }
  .style-group{
    margin: 127px 12px 1px 39px;
    width: 87%;
    border: 1px solid #cac3c3;
    height: 29px;
    border-radius: 4px;
    background: border-box;
    font-size: 14px;
    color: gray;
  }
  .cont-style{
    margin: 13px 0px 0px 28px;
  }
  .button2{
    width: 32%;
    height: 31px;
    text-align: center;
    padding: 2px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    font-family: sans-serif;
  }
  .span-button{
    margin-left: 16px;
    font-weight: 400;
    font-size: 18px;
    font-family: sans-serif;
  }

  .hass{
    height: 365px;
  }

  .card-sty{
    
    height: 365px !important;
  }
 
  
   